@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lobster, sans-serif;
}

:root {
    --cor-primaria: #EBEAFF;
    --cor-secundaria: #9694FF;
    --cor-terciaria: #3D3BF3;
    --cor-quarta: #FF2929;
}

html {
    background-color: var(--cor-primaria);
}

body#index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Lobster, sans-serif;
}

h1 {
    font-size: 3.5em;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.titulo_forms {
    color: var(--cor-quarta);
    font-size: 4em;
    text-decoration: underline;
    letter-spacing: 10px;
    margin: 0;
    text-shadow: #000 1px 1px 1px;
}

.btn_banir {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: 8px;
    cursor: pointer;
}

.item_banir,
#titulo_banir {
    display: none;
}

h2 {
    font-size: 2.5em;
}

form#login {
    background-color: var(--cor-secundaria);
    padding: 30px;
    border-radius: 20px;
    height: 70vh;
    width: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.campos_container {
    background-color: var(--cor-terciaria);
    height: 60%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.campos_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campos_label {
    font-size: 1.8em;
    font-weight: bold;
}

.campos_campos {
    width: 80%;
    font-size: 2em;
    border-radius: 10px;
    background-color: var(--cor-quarta);
    color: #fff;
    text-align: center;
    font-family: Lobster, sans-serif;
}

.btn {
    background-color: var(--cor-quarta);
    font-size: 1.5em;
    border-radius: 20px;
    font-weight: bold;
    padding: 15px;
    font-family: Lobster, sans-serif;
    letter-spacing: 2px;
    width: 300px;
    color: #000;
    background-color: #00f;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover {
    background-color: #f00;
    color: #fff;
}

.comentario {
    display: none;
}

.btn_inter_gremio {
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 1.7em;
    padding: 10px;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
    height: fit-content;
}

#regulamento_container {
    background-color: var(--cor-terciaria);
    border-radius: 20px;
    width: 55vw;
    height: 70vh;
    position: absolute;
    top: 15vh;
    border: 3px solid #000;
    display: none;
    position: fixed;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
    color: lightblue;
    overflow-y: scroll;
}

#regulamento_container h2 {
    font-size: 1.7em;
    letter-spacing: 2px;
}

#regulamento_container h3 {
    font-size: 1.4em;
}

#regulamento_container h4,
#regulamento_container p {
    font-size: 1.2em;
}

.lista_regras {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ul_pontuacao {
    display: flex;
    flex-direction: column;
}

.ul_pontuacao li {
    font-size: 1.3em;
}

.lista_premiacoes li {
    list-style-type: none;
    font-size: 1.2em;
}

.regras_exclusao {
    font-size: 1.2em;
}

.assinatura {
    font-size: 1.5em;
    font-weight: 600;
}

.txt_destacado {
    background-color: #F00;
    padding: 10px;
    width: 100%;
    text-align: center;
}

#logout {
    text-decoration: none;
    color: #000;
    font-size: 1.7em;
    background-color: var(--cor-terciaria);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 30px;
    top: 20px;
    height: fit-content;
    border: 2px solid black;
    transition: 0.4s;
    cursor: pointer;
}

#logout:hover,
.btn_inter_gremio {
    background-color: #F00;
    color: #fff;
    border-color: #fff;
}

.btn_inter_gremio:hover {
    border: 2px solid black;
    background-color: var(--cor-terciaria);
    color: #000;
}

#iniciar_rodada_form {
    background-color: var(--cor-secundaria);
    border-radius: 20px;
    padding: 20px;
    width: 50vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.iniciar_rodada_linha {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.iniciar_rodada_item {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding-bottom: 100px;
}

.iniciar_rodada_campo {
    font-family: Lobster, sans-serif;
    font-size: 2em;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--cor-terciaria);
}

.x {
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
}

.forms {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--cor-secundaria);
    width: 85vw;
}

#tabela,
.tabela {
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    width: 80vw;
    border: 2px solid #000;
    position: relative;
}

#th_premio {
    display: none;
}

.azul {
    background-color: #00f;
}

.vermelho {
    background-color: #F00;
}

.td_premio {
    display: none;
    margin-top: 13.5px;
}

.titulo_tabela:nth-child(odd) {
    background-color: #f00;
}

.titulo_tabela:nth-child(even) {
    background-color: #00f;
}

.titulo_tabela {
    outline: 1px solid #000;
    font-size: 1.6em;
    padding: 10px;
    min-width: 50px;
}

.linha_tabela {
    height: 50px;
    outline: 1px solid #000;
}

.linha_tabela:nth-child(odd) {
    background-color: var(--cor-terciaria);
}

.linha_tabela:nth-child(even) {
    background-color: var(--cor-quarta);
}

.item_tabela {
    font-size: 1.3em;
    text-align: center;
}

input[type="checkbox"] {
    position: relative;
    bottom: 10px;
}


input[type=checkbox]::before {
    content: "";
    display: inline-block;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    outline: 1px solid #252121;
    background-color: #fff;
    position: absolute;
}

input[type=checkbox]:checked:before {
    background-color: #0f0;
}

input[type="checkbox"]:disabled::before {
    background-color: rgb(22, 87, 22);
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 8px;
    left: 12px;
}

.campo_palpite {
    font-size: 0.8em;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    transform: translateY(-15.5px);
    text-align: center;
    background-color: #fff;
}

.campo_palpite[disabled] {
    background-color: #0f0;
}

.big_font {
    font-size: 1.3em;
    transform: translate(0);
    width: 130px;
}

.finalizar_rodadas_campos {
    display: flex;
    align-items: center;
    gap: 50px;
}

#container_finalizar_rodadas {
    background-color: var(--cor-quarta);
    padding: 10px;
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

/* Manteve na mesma posição */

.m {
    background-color: #b39b9b;
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #000;
}

/* Desceu na tabela */

.d {

    background-color: #f00;
    height: 20px;
    width: 10px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #000;
}

.d::after {
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: #f00;
    border: 1px solid #000;
    border-radius: 2px;
    transform: rotate(-45deg) translateX(-7px);
}

/* Subiu na tabela */
.s {
    background-color: #0f0;
    height: 20px;
    width: 10px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #000;
    transform: translateY(5px);
}

.s::after {
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: #0f0;
    border: 1px solid #000;
    border-radius: 2px;
    transform: rotate(135deg) translateY(10px) translateX(-4px);
}

.subtitulo_rodada {
    color: #fff;
    font-size: 4em;
    text-shadow: 2px 2px 5px #000;
}

.valor_total {
    position: fixed;
    bottom: 20px;
    right: 50px;
    font-size: 2em;
    background-color: rgb(46, 170, 46);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 80px;
    border: 2px solid #000;
    border-radius: 20px;
    overflow: hidden;
}

.btn_premios {
    right: 260px;
    background-color: #f00;
}

#btn_habilitar_banimentos {
    right: 330px;
}

.btn_actions {
    font-size: 2em;
    position: absolute;
    top: 400px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 5px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_lista_negra {
    background-color: #423b3b;
    left: 200px;
}

.lista_negra_container,
#lista_nao_postaram_container {
    position: fixed;
    width: 60vw;
    height: 80vh;
    border: 2px solid #000;
    top: calc(50% - 40vh);
    z-index: 2;
    background-color: rgb(63, 150, 221);
    border-radius: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-y: scroll;
    padding: 30px 0;
    gap: 20px;
}

.lista_nao_postaram {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.lista_nao_postaram li {
    width: 50%;
    background-color: #0f0;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 20px;
    font-weight: 700;
    text-align: center;
    list-style-type: none;
}

.lista_negra {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
}

.item_lista_negra {
    list-style-type: none;
    font-size: 1.8em;
    letter-spacing: 10px;
    background-color: #F00;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: 3px solid #000;
    /* text-align: justify; */
    padding-left: 130px;
}

.btn_fechar {
    background-color: #FF2929;
    font-family: sans-serif;
    color: #fff;
    width: 50px;
    height: 50px;
    font-weight: 700;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    font-size: 2.4em;
    left: 280px;
    top: 80px;
    cursor: pointer;
}

#textoParaCopiar {

    /* visibility: hidden; */
    position: absolute;
    z-index: -10;
    left: -1000px;
}

.btn_copiar {
    background-color: #00f;
    left: 130px;
}

.btn_nao_postaram {
    background-color: #fff;
    left: 270px;
}

.btn_backup {
    right: 130px;
    text-decoration: none;
    color: #000;
    background-color: #00f;
    border: 2px solid #000;
    padding: 10px 30px;
    font-size: 1.2em;
    width: fit-content;
}

.campo_valor_pago{
    border-radius: 5px;
    padding: 5px 10px;
    width: 100px;
    text-align: center;
    font-size: .8em;
}

/* 
INSERT INTO jogadores(nome, pontos)
VALUES('Daniel 1983', 45),
('Perdigão', 39),
('Léo', 38),
('Édson Ortiz', 37),
('Cláudio', 35),
('David', 35),
('Gabriel', 34),
('Juliano', 34),
('Gustavo Santi', 33),
('Mex', 33),
('Tafarel', 32),
('Diomar', 31),
('Zé', 31),
('Felipe Paixão', 30),
('Matheus Reis', 30),
('Camilo', 29),
('Dalvir', 29),
('Fábio Macedo', 29),
('Leco', 29),
('Serginho', 29),
('Bruno', 28),
('Vini', 28),
('Alemão', 27),
('Kauê', 27),
('Gustavo', 25),
('Carlos', 24),
('Chiquinho', 24),
('Gulho', 24),
('Luizinho', 24),
('Valdoir', 24),
('Vinicius', 24),
('Viviane Lopes', 24),
('André', 23),
('Maninho', 23),
('Paulinho', 23),
('Chico', 22),
('Dione', 22),
('Fábio', 22),
('Felipe Pinheiro', 22),
('Maurício', 22),
('Diorgy', 21),
('Lucas Mazin', 21),
('Rodolfo', 21),
('Xande', 21),
('Chulapa458', 20),
('Didi', 20),
('Derna', 20),
('Mano', 19),
('Fernando', 18),
('Pancada', 14) */