@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lobster, sans-serif;
}

:root{
    --cor-primaria: #EBEAFF;
    --cor-secundaria: #9694FF;
    --cor-terciaria: #3D3BF3;
    --cor-quarta: #FF2929;
}

html{
    background-color: var(--cor-primaria);
}

body#index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Lobster, sans-serif;
}

h1{
    font-size: 3.5em;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

h2{
    font-size: 2.5em;
}

form#login{
    background-color: var(--cor-secundaria);
    padding: 30px;
    border-radius: 20px;
    height: 70vh;
    width: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.campos_container{
    background-color: var(--cor-terciaria);
    height: 60%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.campos_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campos_label{
    font-size: 1.8em;
    font-weight: bold;
}

.campos_campos{
    width: 80%;
    font-size: 2em;
    border-radius: 10px;
    background-color: var(--cor-quarta);
    color: #fff;
    text-align: center;
    font-family: Lobster, sans-serif;
}

.btn{
    background-color: var(--cor-quarta);
    font-size: 1.5em;
    border-radius: 20px;
    font-weight: bold;
    padding: 15px;
    font-family: Lobster, sans-serif;
    letter-spacing: 2px;
    width: 300px;
    color: #000;
    background-color: #00f;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover{
    background-color: #f00;
    color: #fff;
}

.comentario{
    display: none;
}

#logout{
    text-decoration: none;
    font-size: 1.7em;
    color: #000;
    background-color: var(--cor-terciaria);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 30px;
    top: 20px;
    height: fit-content;
    border: 2px solid black;
    transition: 0.4s;
}

#logout:hover{
    background-color: #F00;
    color: #fff;
    border-color: #fff;
    cursor: pointer;
}

#iniciar_rodada_form{
    background-color: var(--cor-secundaria);
    border-radius: 20px;
    padding: 20px;
    width: 50vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.iniciar_rodada_linha{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.iniciar_rodada_item{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iniciar_rodada_campo{
    font-family: Lobster, sans-serif;
    font-size: 2em;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--cor-terciaria);
}

.x{
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
}

#tabela_form{
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--cor-secundaria);
}

#tabela{
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    width: 80vw;
    border: 2px solid #000;
}

.titulo_tabela:nth-child(odd){
    background-color: #f00;
}

.titulo_tabela:nth-child(even){
    background-color: #00f;
}

.titulo_tabela{
    outline: 1px solid #000;
    font-size: 1.6em;
    padding: 10px;
}

.linha_tabela{
    height: 50px;
    outline: 1px solid #000;
}

.linha_tabela:nth-child(odd){
    background-color: var(--cor-terciaria);
}

.linha_tabela:nth-child(even){
    background-color: var(--cor-quarta);
}

.item_tabela{
    font-size: 1.3em;
    text-align: center;
}

input[type="checkbox"]{
    position: relative;
    bottom: 10px;
}


input[type=checkbox]::before{
    content: "";
    display: inline-block;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    outline: 1px solid #252121;
    background-color: #fff;
    position: absolute;
}

input[type=checkbox]:checked:before{
    background-color: #0f0;
}

input[type="checkbox"]:disabled::before{
    background-color: rgb(22, 87, 22);
}

input[type=checkbox]:checked:after{
    content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
  left: 12px;
}